#header{
	height: 70px;
	background-color: #1976D2; /*mau header*/
}

#login_information{
	height: 45px;
	background-color: #0D47A1; /*mau phan co button*/
}

#footer_header{
	height: 10px;
	background-color: #0D47A1; /*mau ven dau footer*/
}

#footer{
	height: 100px;
	background-color: #1976D2; /*mau footer*/
}

#menu{
	color: white;
}

a{
	color: white;
}

a:link{
	text-decoration: underline;
	color: white;
}

a:hover{
	text-decoration: none;
	color: white;
}

a:active, a:visited{
	text-decoration: underline;
	color: white;
}

#menu ul li{
	list-style:none;
    line-height: 30px;
    background: #1976D2;
    margin: 2px;
}

#menu ul li a{
	margin-left: 10px;
}

#menu h3{
	padding-left: 10px;
	list-style:none;
    line-height: 30px;
    background: #0D47A1;
    margin: 2px;
}

#content{
	height: 800px;
	border-left: solid 2px #1976D2;
	border-right: solid 2px #1976D2;
	border-bottom: none;
	border-top: none;
}

.comment{
	margin-left: 10px;
	margin-right: 10px;
	border-left: none;
	border-right: none;
	border-bottom: 2px solid #1976D2;
	border-top: none;
}
