<div class="container-fluid">
	<!-- header -->
	<!-- header -->
	<div class="row">
		<div class="col-md-12" id="header_header"></div>
	</div>
	<div class="row" style="color: white">
		<div class="col-md-12" id="header">
			<a href="#/home" style="float: left"><img src="image/logo.png" alt="Image" height="100" width="100"></a>
			<h3 style="margin-left:10px; margin-top: 40px; float: left">Book Online</h3>
		</div>
	</div>
	<div class="row" ng-if="!checkdn">
		<div class="col-md-12" id="login_information">
			<div style="float: right; margin-top: 5px;">
				<button type="button" class="btn btn-default" style="width: 100px;" ng-click="login()">Login</button>
				<button type="button" class="btn btn-default" style="width: 100px;" ng-click="register()">Register</button>
			</div>
		</div>
	</div>
	<div class="row" ng-if="checkdn">
		<div class="col-md-12" id="login_information">
			<div style="float: right; margin-top: 5px;">
				<div class="dropdown">
  					<button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">{{checkdn.username}}
  					<span class="caret"></span></button>
  					<ul class="dropdown-menu">
    					<li><button type="button" class="btn btn-default" ng-click="dangxuat()">Đăng xuất</button></li>
  					</ul>
				</div>
			</div>
		</div>
	</div>
	<!-- end header -->

	<div class="row">
		<!-- menu -->
		<div class="col-md-2 col-md-offset-1" id="menu">
			<h3>Thể loại sách</h3>
			<ul ng-repeat="type in types">
				<li><a href="#/home/{{type.IdTheLoai}}">{{type.TenTheLoai}}</a></li>
			</ul>
		</div><!-- end menu -->

		<!-- noi dung hien thi -->
		<div class="col-md-8" id="content">
			<!-- tim kiem -->
			<div class="row" style="margin-top: 5px;">
				<div class="col-md-10">
					<input type="text" name="" id="search_key" class="form-control" value="" required="required" pattern="" title="" placeholder="Nhập từ khóa tìm kiếm.....">
				</div>
				<div class="col-md-2">
					<button type="button" class="btn btn-default" ng-click="findName()">Tìm kiếm</button>
				</div>
			</div>

			<!-- danh sach sach hien thi -->
			<div style="margin-top: 10px;">	
				<div class="row">
					<div class="col-md-3">
						<img src="" alt="" style="background-color: #d35400; height: 200px; width: 150px;">
					</div>
					<div class="col-md-9">
						<h5>Tên sách: {{tensach}}</h5>
						<h5>Tác giả: {{tacgia}} </h5>
						<h5>Giá: {{gia}} </h5>
						<h5>Ngôn ngữ: {{ngonngu}} </h5>
						<h5>Số trang: {{sotrang}} </h5>
						<h5>Nhà xuất bản: {{nxb}} </h5>
					</div>
					<div class="form-group">
  						<label for="soluong">Nhập số lượng:</label>
  						<input type="text" class="form-control" id="soluong" style="width: 150px;">
					</div>
				</div>
				<button type="button" class="btn btn-default" ng-click="addcart()">Thêm vào giỏ hàng</button>
				<h3>Bình luận hàng đầu</h3>
				<div class="row">
					<div class="col-md-10">
						<textarea name="" id="ndbinhluan" class="form-control" rows="3"></textarea>
					</div>
					<div class="col-md-2">
						<button type="button" class="btn btn-default" ng-click="binhluan()">Đăng</button>
					</div>
				</div>
				<div id="listbinhluan" style="margin-top: 10px;" ng-repeat="binhluan in dsbinhluan">
					<div class="row comment">
						<span>Tên người bình luận</span>
						<p>{{binhluan.content}}</p>
					</div>
				</div>
			</div>
		</div><!-- end noi dung hien thi -->
	</div>
	
	<!-- footer -->
	<div class="row">
		<div class="col-md-12" id="footer_header"></div>
	</div>
	<div class="row">	
		<div class="col-md-12" id="footer">
			<center>
				<h5>Nhóm phát triển:</h5>
				<h5>1312406 - Trần Minh Nhí</h5>
				<h5>1312408 - Lưu Hồng Ngọc Quỳnh Như</h5>
			</center>
		</div>
	</div>
	<<!-- end footer -->
</div>