<div class="container-fluid">
	<!-- header -->
	<div class="row">
		<div class="col-md-12" id="header_header"></div>
	</div>
	<div class="row" style="color: white">
		<div class="col-md-12" id="header">
			<a href="#/home" style="float: left"><img src="image/logo.png" alt="Image" height="100" width="100"></a>
			<h3 style="margin-left:10px; margin-top: 40px; float: left">Book Online</h3>
		</div>
	</div>
	<div class="row" ng-if="!checkdn">
		<div class="col-md-12" id="login_information">
			<div style="float: right; margin-top: 5px;">
				<button type="button" class="btn btn-default" style="width: 100px;" ng-click="login()">Login</button>
				<button type="button" class="btn btn-default" style="width: 100px;" ng-click="register()">Register</button>
			</div>
		</div>
	</div>
	<div class="row" ng-if="checkdn">
		<div class="col-md-12" id="login_information">
			<div style="float: right; margin-top: 5px;">
				<div class="dropdown">
  					<button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">{{checkdn.username}}
  					<span class="caret"></span></button>
  					<ul class="dropdown-menu">
    					<li><button type="button" class="btn btn-default" ng-click="dangxuat()">Đăng xuất</button></li>
  					</ul>
				</div>
			</div>
		</div>
	</div>
	<!-- end header -->

	<div class="row">
		<!-- menu -->
		<div class="col-md-2 col-md-offset-1" id="menu">
			<h3>Thể loại sách</h3>
			<ul ng-repeat="type in types">
				<li><a href="#/home/{{type.IdTheLoai}}">{{type.TenTheLoai}}</a></li>
			</ul>	
		</div><!-- end menu -->

		<!-- noi dung hien thi -->
		<div class="col-md-8" id="content">
			<!-- tim kiem -->
			<div class="row" style="margin-top: 5px;">
				<div class="col-md-3">
					<select class="form-control" id="loaitimkiem">
						<option value="1">Tên</option>
  						<option value="2">Tác giả</option>
  						<option value="3">Giá</option>
  						<option value="4">Ngôn ngữ</option>
					</select>
				</div>
				<div class="col-md-7">
					<input type="text" name="" id="search_key" class="form-control" value="" required="required" pattern="" title="" placeholder="Nhập từ khóa tìm kiếm.....">
				</div>
				<div class="col-md-2">
					<button type="button" class="btn btn-default" ng-click="findName()">Tìm kiếm</button>
				</div>
			</div>

			<!-- danh sach sach hien thi -->
			<div style="margin-top: 10px;" ng-repeat="book in dsbook" id="listbook">
				<div style="border: 1px solid #1976D2; width: 250px; float: left;">
					<img src="image/gia_dinh_ngo.png" alt="" style="background-color: #1976D2; height: 200px; width: 150px;">
					<h5>Tên sách: {{book.TenSach}}</h5>
					<h5>Tác giả: {{book.TacGia}}</h5>
					<h5>Giá: {{book.Gia}}</h5>
					<button type="button" class="btn btn-default" ng-click="chitietsach($event)" iidsach="{{book.IdSach}}" itensach="{{book.TenSach}}" itacgia="{{book.TacGia}}" igia="{{book.Gia}}" ingonngu="{{book.NgonNgu}}" isotrang="{{book.SoTrang}}" inxb="{{book.NXB}}">Chi tiết</button>
				</div>
			</div>

			<!-- paging
			<div class="row">
				<div class="col-md-1 col-md-offset-9">
					<span class="glyphicon glyphicon-chevron-left" aria-hidden="true" ng-click="previouspage(page)"></span>
					<span>{{page}}</span>
					<span class="glyphicon glyphicon-chevron-right" aria-hidden="true" ng-click="nextpage(page)"></span>
				</div>
			</div> -->
		</div><!-- end noi dung hien thi -->
	</div>
	
	<!-- footer -->
	<div class="row">
		<div class="col-md-12" id="footer_header"></div>
	</div>
	<div class="row">	
		<div class="col-md-12" id="footer">
			<center>
				<h5>Nhóm phát triển:</h5>
				<h5>1312406 - Trần Minh Nhí</h5>
				<h5>1312408 - Lưu Hồng Ngọc Quỳnh Như</h5>
			</center>
		</div>
	</div>
	<<!-- end footer -->
</div>