<div class="container-fluid glass">
	<div class="row">
		<div class="col-md-4 col-md-offset-2" id="book">
			<img src="image/book.png" class="img-responsive" alt="Image">
		</div>
		<div class="col-md-4" id="formlogin">
			<form action="" method="POST" role="form">
				<legend>Đăng nhập</legend>

				<div class="form-group">
					<label for="username">Username: </label>
					<input type="text" class="form-control" id="username" placeholder="Nhập username...">
				</div>

				<div class="form-group">
					<label for="password">Password: </label>
					<input type="text" class="form-control" id="password" placeholder="Nhập password...">
				</div>

				<button type="button" class="btn btn-primary" ng-click="dangnhap()">Đăng nhập</button>
				<button type="button" class="btn btn-default" ng-click="dnfb()">Đăng nhập bằng facebook</button>
				<a href="#/" style="color:black">Trở về trang chủ</a>
			</form>
		</div>
	</div>
</div>